.btn-group {
    margin-top: 20px;
    border: 1px solid red;
    color: #4d5bbe;
    width: 100%;
    background-color:#fff;
    height: 40px;
}

.btn-group-vertical>.btn, .btn-group>.btn {
    height: 40px;
}

